{
  "policies": {
    "CaptivePortal": false,
    "DisplayBookmarksToolbar": true,
    "DisableTelemetry": true,
    "NetworkPrediction": false,
    "NoDefaultBookmarks": true,
    "OverrideFirstRunPage": "",
    "OverridePostUpdatePage": "",
    "DNSOverHTTPS": {
      "Enabled": false
    },
    "Homepage": {
      "URL": "file:///usr/share/kali-defaults/web/homepage.html",
      "Locked": false,
      "StartPage": "homepage"
    },
    "FirefoxHome": {
      "Search": true,
      "TopSites": true,
      "Highlights": false,
      "Pocket": false,
      "Snippets": false,
      "Locked": false
    },
    "ExtensionSettings": {
      "addon@darkreader.org": {
        "install_url": "https://addons.mozilla.org/firefox/downloads/latest/darkreader/latest.xpi",
        "installation_mode": "normal_installed"
      },
      "foxyproxy@eric.h.jung": {
        "install_url": "https://addons.mozilla.org/firefox/downloads/latest/foxyproxy-standard/latest.xpi",
        "installation_mode": "normal_installed"
      },
      "wappalyzer@AY": {
        "install_url": "https://addons.mozilla.org/firefox/downloads/latest/wappalyzer/latest.xpi",
        "installation_mode": "normal_installed"
      }
    }
  }
}
